<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap w/ Vite</title>
</head>

<body>

  <nav>
    <ul>
      <li>Dashboard</li>
      <li>Analytics</li>
      <li>Settings</li>
    </ul>
  </nav>
  <section>
    <div class="navbar">
      <ul>
        <li>Profile</li>
        <li>Log Out</li>
      </ul>
    </div>
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed rem asperiores.</p>

    {{ content }}
  <script type="module" src="/src/js/main.js"></script>
 
</body>

</html>